<?xml version="1.0" encoding="utf-8" ?>
<suite name="MIDAS系统测试套件">
    <listeners>
        <listener class-name="com.demo.config.ExtentTestNGIReporterListener"/>
    </listeners>
    <test name="MIDAS系统CMS模块正向场景+反向测试用例">
        <classes>
            <!--登陆-->
            <class name="com.demo.cases.LoginTest"/>
            <!--上传-->
            <class name="com.demo.cases.UploadClaimIdTest"/>
            <!--创建-->
            <class name="com.demo.cases.AuditPutTest"/>
            <!--分页查询-->
            <class name="com.demo.cases.AuditPageTest"/>
            <!--验证许可-->
            <class name="com.demo.cases.VerifyPermissionTest"/>
            <!--指派-->
            <class name="com.demo.cases.AuditAssignAuditorTest"/>
            <!--切换阶段-->
            <class name="com.demo.cases.AuditTarPhsTest"/>
            <!--添加日期-->
            <class name="com.demo.cases.DueDateTest"/>
            <!--查询Claims页面的内容-->
            <class name="com.demo.cases.TargTest"/>
            <!--导出Claims页面的内容-->
            <class name="com.demo.cases.TarExpTest"/>
            <!--保存某一单据审核结果-->
            <class name="com.demo.cases.SaveSingleTest"/>
            <!--cancle掉task下面的某一个target-->
            <class name="com.demo.cases.CancelInvtargetTest"/>
            <!--cancle掉整个的task-->
            <class name="com.demo.cases.CmscanceltaskTest"/>
        </classes>

    </test>

    <test name="MIDAS系统CMS模块正向场景二+反向测试用例">
        <groups>
            <run>
                <include name = "LoginTrue" />
                <include name = "uploadClaimId" />
                <include name = "targetGet" />
            </run>
        </groups>
        <classes>
            <class name="com.demo.cases.LoginTest"/>
            <class name="com.demo.cases.UploadClaimIdTest"/>
            <class name="com.demo.cases.TargetGetTest"/>
        </classes>
    </test>

</suite>