<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="paga_suite_1">
	<listeners>
		<listener class-name="com.paga.util.ExtentTestNGIReporterListener"/>
	</listeners>

	<test name="regression_test1">
		<classes>
			<class name="com.medimpact.paga.front.automation.cases.CreateTaskTest"/>
			<class name="com.medimpact.paga.front.automation.cases.CompleteSubtasksTest"/>
			<class name="com.medimpact.paga.front.automation.cases.ApproveSubTaskReviewTest"/>	
			<class name="com.medimpact.paga.front.automation.cases.ApproveSubTaskDeployedTest"/>
			<class name="com.medimpact.paga.front.automation.cases.RejectTaskOnReviewTest"/>
			<class name="com.medimpact.paga.front.automation.cases.RejectCompleteSubTaskTest"/>
			<class name="com.medimpact.paga.front.automation.cases.RejectApproveSubTaskReviewTest"/>
			<class name="com.medimpact.paga.front.automation.cases.RejectApproveSubTaskDeployedTest"/>				
			<class name="com.medimpact.paga.front.automation.cases.ApproveTaskReviewTest"/>						
			<class name="com.medimpact.paga.front.automation.cases.ApproveTaskDeployedTest"/>		
		</classes>		
	</test>
</suite>
