<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Paga suite">
    <listeners>
        <listener class-name="com.medimpact.paga.end.automation.listerner.ExtentTestNGIReporterListener"/>
    </listeners>
    <test name="Paga test">
        <classes>
            <class name="com.medimpact.paga.end.automation.cases.LoginTest"/>
            <!--
            <class name="com.medimpact.paga.end.automation.cases.TaskTypeTest"/> 
            <class name="com.medimpact.paga.end.automation.cases.RequestBYTest"/> 
            -->
            <class name="com.medimpact.paga.end.automation.cases.AddTaskTest"/>          
            <class name="com.medimpact.paga.end.automation.cases.StartTaskTest"/>
            <class name="com.medimpact.paga.end.automation.cases.StartSubtaskTest"/>   
            <class name="com.medimpact.paga.end.automation.cases.SubtasktkIdTest"/> 
            
            <class name="com.medimpact.paga.end.automation.cases.AddLinkingCritTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.RruleConditionTest"/>                       
            <class name="com.medimpact.paga.end.automation.cases.AddPathTest"/>
          	
            <class name="com.medimpact.paga.end.automation.cases.UpdateSubTaskTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.CompleteSubTaskTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.NewSubTaskUUidTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.AddCommentTest"/> 
            
            <class name="com.medimpact.paga.end.automation.cases.CommentsTest"/> 
            
            <class name="com.medimpact.paga.end.automation.cases.RejectSubtaskTest"/>
                       
            <class name="com.medimpact.paga.end.automation.cases.NewSubTaskReJUUidTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.UpdateSubTaskReJTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.CompleteSubTaskReJTest"/>
            
            <class name="com.medimpact.paga.end.automation.cases.NewSubTaskReJComUUidTest"/>
            <!--                                                         
            <class name="com.medimpact.paga.end.automation.cases.WriteTest"/>
            -->
             
            <class name="com.medimpact.paga.end.automation.cases.ApproveSubTaskReviewTest"/>        
            <class name="com.medimpact.paga.end.automation.cases.NewSubTaskDeployedUUidTest"/> 
            <!--                                          
          	<class name="com.medimpact.paga.end.automation.cases.RuleZipTest"/>
          	-->
          	
          	<class name="com.medimpact.paga.end.automation.cases.RulePathTest"/>
          	<class name="com.medimpact.paga.end.automation.cases.ApproveSubTaskDoneTest"/>
      		
          	<class name="com.medimpact.paga.end.automation.cases.NewTaskReviewUUidTest"/> 
          	<class name="com.medimpact.paga.end.automation.cases.ApproveTaskTest"/>
          	
          	<class name="com.medimpact.paga.end.automation.cases.NewTaskDoneUUidTest"/>
          	<class name="com.medimpact.paga.end.automation.cases.ApproveTaskDoneTest"/>
          	<!-- -->    
        </classes>

    </test>

</suite>