<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="my_suite_1">
	<listeners>
		<listener class-name="com.paga.util.ExtentTestNGIReporterListener"/>
	</listeners>

	<test name="regression_test1">
		<classes>
			<class name="com.paga.cases.CreateTaskTest"/>
			<class name="com.paga.cases.CompleteSubtasksTest"/>
			<class name="com.paga.cases.ApproveSubTaskReviewTest"/>	
			<class name="com.paga.cases.ApproveSubTaskDeployedTest"/>
			<class name="com.paga.cases."/>			
			<class name="com.paga.cases.ApproveTaskReviewTest"/>						
			<class name="com.paga.cases.ApproveTaskDeployedTest"/>		
		</classes>
		
	</test>

</suite>
